node_modules
.next
dist
build
.env
.env.local
.env.*.local
*.log
.DS_Store
coverage
.idea
.vscode
*.tsbuildinfo
prisma/migrations/dev*
uploads/*
!uploads/.gitkeep
.np-cache
.npm-cache-fresh
apps/frontend/.next
apps/backend/dist
packages/prisma/.npm-cache
packages/prisma/dev.db
packages/prisma/dev.db-journal
